body{
  margin: 0;
  background: url("../Icons/Main_back.png") ;
}



/* === NAVBAR === */
.navbar {
    height: 80px;
    background-color: rgba(200, 150, 230, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  
  .menu-icon img,
  .cart-icon img {
    cursor: pointer;
    height: 40px;
  }
  
  .logo {
    position: fixed;
    right: 47%;
    font-size: 36px;
    font-weight: bold;
    color: #1a0051;
    font-family: fantasy;
    user-select: none;
  }
  
  .actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  /* === SEARCH === */
  .search-box {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-box input {
    width: 0;
    opacity: 0;
    padding: 8px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    transition: width 0.3s ease, opacity 0.3s ease;
  }
  
  .search-box.active input {
    width: 200px;
    opacity: 1;
    margin-right: 10px;
  }
  
  .search-box img {
    cursor: pointer;
    height: 30px;
  }
  /* === MAIN CONTENT === */
main {
  padding: 40px;
}

.products-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 50px;
}

.products-section {
  text-align: center;
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  gap: 20px;
  padding: 30px;
}

.product {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  height: 200px;
  width: 200px;
}

/* === OVERLAY === */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 5;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

/* === MENU PANEL === */
.menu-panel {
  position: fixed;
  top: 80px;
  left: -280px;
  width: 280px;
  height: vh;
  background: rgba(200, 150, 230, 0.95);
  border-bottom-right-radius: 70px;
  transition: 0.4s ease;
  z-index: 20;
  font-family: fantasy;
  color: #1a0051;
  font-size: 20px;
}

.menu-panel.active {
  left: 0;
  font-size: 33px;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

.menu-list li {
  margin: 20px 0;
  cursor: pointer;
}

/* === CART PANEL === */
.cart-panel {
  position: fixed;
  top: 100px;
  right: -320px;
  width: 300px;
  height: 620px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  transition: right 0.4s ease;
  padding: 15px;
  color: black;
  z-index: 20;
}

.cart-panel.active {
  right: 1%;
}

.cart-items {
  margin-top: 20px;
}

.cart-item {
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}
/*END OF THE NAVBAR*/












/* MAIN IMAGE */
#itemImg{
  position: absolute;
  left: 200px;

  height: 75vh;
  width: 45vw;

  background-color: rgb(249, 253, 253);
}
/* END OF THE MAIN IMAGE */


/*CONTENT OF THE ITEM*/
#itemContent{
  position: absolute;
  left: 950px;

  height: 65vh;
  width: 30vw;

  background-color: rgb(249, 253, 253);
}


#priceItem{
  position: absolute;
  left: 3vw;
  top: 5vh;

  font-family: fantasy;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(238, 95, 186);
}

#nameItem{
  position: absolute;
  left: 3vw;
  top: 15vh;

  font-family: fantasy;
  font-size: 3rem;
  font-weight: bolder;
  color: rgb(238, 95, 186);
}

#sizesItem{
  position: absolute;
  left: 3vw;
  top: 40vh;

  display: flex;
  gap: 2vw;
}

.sizesC{
  font-size: 20px;
  width: 45px;
  height: 45px;
  background-color: rgba(255, 192, 203, 0);
  border-radius: 10px;
  border: solid, rgb(238, 95, 186), 3px;

  font-family: fantasy;
  font-weight: bolder;
  color: rgb(238, 95, 186);


  display: flex;
  align-items: center;   
  justify-content: center; 
}

.sizesC:hover{
  background-color: rgba(185, 44, 185, 0.384);
  box-shadow: 0px 8px 15px rgba(5, 0, 12, 0.939);
}

#stock{
  position: absolute;
  left: 7vw;
  top: 50vh;

  font-size: 1.2rem;
  color: rgb(8, 4, 6);
  font-family: fantasy;
  font-weight: bolder;
}

#circleStock{
  position: absolute;
  left: 4vw;
  top: 49.7vh;

}

#likeButton{
  position: absolute;
  left: 2vw;
  top: 56vh;

  border-radius: 10px;
  border: solid, rgb(238, 95, 186), 3px;
}

#likeButton:hover{
  background-color: rgba(185, 44, 185, 0.384);
  box-shadow: 0px 8px 15px rgba(5, 0, 12, 0.939);
}

#busketButton{
  position: absolute;
  left: 7vw;
  top: 56vh;

  border-radius: 10px;
  border: solid, rgb(238, 95, 186), 3px;

  font-size: 1.5rem;
  font-family: fantasy;
  font-weight: bolder;
  color: rgb(238, 95, 186);
  width: 300px;
  height: 60px;

  display: flex;
  align-items: center;   
  justify-content: center; 
}

#busketButton:hover{
  background-color: rgba(185, 44, 185, 0.384);
  box-shadow: 0px 8px 15px rgba(5, 0, 12, 0.939);
}
/*END OF THE CONTENT OF THE ITEM*/