html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 


    margin: 0;
    background-image: url(../Icons/loginPage.png);
    background-repeat: no-repeat; 
    background-size: cover;       
    
}

#form {
    background-color: rgba(248, 114, 243, 0.27);
    backdrop-filter: blur(10px); 
    height: 65vh;
    width:35vw;
    border: 1px solid rgba(254, 137, 223, 0.407);
    border-radius: 10px;

    position: relative;
}

#loginHeader {
    font-size: 3rem;
    font-family: sans-serif;
    color: white;

    display: flex;
    justify-content: center;
}


input {
    color: white;
    opacity: 1;
    font-size: 1.5rem;

    padding-left: 4%;
}


input::placeholder {
    color: white;
    opacity: 1;
    font-size: 1.5rem;
    
    position: absolute;
    top: 25%;
    left: 5%;
}



#userName {
    position: absolute;
    top: 25%;
    left: 12%;

    width: 70%;
    height: 9%;

    border-radius: 25px;
    background-color: transparent;
    border: 2px solid rgba(250, 209, 238, 0.308);
    color: white;
}

#userName:hover {
    box-shadow: 0px 8px 15px rgba(5, 0, 12, 0.939);
}

#userPassword {
    position: absolute;
    top: 40%;
    left: 12%;

    width: 70%;
    height: 9%;

    border-radius: 25px;
    background-color: transparent;
    border: 2px solid rgba(250, 209, 238, 0.308);

    color: white;
}

#userPassword:hover {
    box-shadow: 0px 8px 15px rgba(5, 0, 12, 0.939);
}

#remember {
    position: absolute;
    top: 55%;
    left: 13%;

    color: white;
    font-size: 1rem;
}

#forgot {
    position: absolute;
    top: 55%;
    left: 60%; 

    text-decoration: none;
    font-size: 1.1rem; 
    color: white;
}

#loginButton {
    position: absolute;
    top: 70%;
    left: 17.5%;

    height: 10%;
    width: 65%;
    border-radius: 25px;
    border: solid white 3px;
    background-color: white;

    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
}

#loginButton:hover {
    box-shadow: 0px 8px 15px rgba(5, 0, 12, 0.939);
}

#register {
    position: absolute;
    top: 80%;
    left: 30%;

    font-size: 1rem;
    font-family: sans-serif;
    color: white;
}

@media (max-width: 768px){
    #remember{
        position: absolute;
        top: 55%;
        left: 13%;

        color: white;
        font-size: 1rem;
    }
    #forgot {
        position: absolute;
        top: 62%;
        left: 15%; 
    
        text-decoration: none;
        font-size: 1.1rem; 
        color: white;
    }
    #register {
        position: absolute;
        top: 80%;
        left: 20%;
    
        font-size: 1rem;
        font-family: sans-serif;
        color: white;
    }
}

@media (max-width: 480px) {
    #remember{
        position: absolute;
        top: 55%;
        left: 13%;

        color: white;
        font-size: 1rem;
    }
    #forgot {
        position: absolute;
        top: 62%;
        left: 15%; 
    
        text-decoration: none;
        font-size: 1.1rem; 
        color: white;
    }
    #register {
        position: absolute;
        top: 80%;
        left: 10%;
    
        font-size: 1rem;
        font-family: sans-serif;
        color: white;
    }
}