/* 
 BASIC PAGE SETTINGS
 */
body {
  background-image: url('thumb-1920-1377793.png'); 
  background-position: center;                     
  background-repeat: no-repeat;                    
  height: 100vh;                                   
}

/* 
 MAIN CONTAINER 
 */
#fullContent {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  justify-content: center;
}

/* 
 MAIN TITLE — AniHub
 */
#header {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  margin-top: 40px;
  color: rgba(214, 164, 221, 1); 
  font-size: 12rem;               
  font-family: fantasy;          
  text-shadow:
    0 0 5px rgb(106, 39, 101),
    0 0 10px rgb(106, 39, 101),
    0 0 20px rgb(106, 39, 101),
    0 0 40px rgb(106, 39, 101),
    0 0 80px rgb(106, 39, 101);
}

/* 
 ABOUT TEXT BOX
*/
#content {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  
  border-radius: 35px;                         
  background-color: rgba(200, 100, 197, 0.568);
  padding: 1.5rem 2rem;                         
  max-width: 800px;                            
  
  font-size: 2.2rem;                            
  color: rgb(136, 51, 147);                    
  font-family: fantasy;                        
}

/* 
 "VIEW SHOP" BUTTON
 */

a{
  text-decoration: none;
}
#button {
  background-color: rgba(200, 100, 197, 0.568); 
  font-family: fantasy;
  color: rgba(214, 164, 221, 1);                
  font-size: 8vh;
  margin-top: 40px;
  
  height: 100px;
  width: 50vh;
  display: flex;
  justify-content: center;                     
  align-items: center;                          
  text-align: center;
  
  border-radius: 10px;                          
  cursor: pointer;                             
}


#button:hover {
  background-color: rgba(185, 44, 185, 0.384);  
  box-shadow: 0px 8px 15px rgba(5, 0, 12, 0.939); 
}
